node_modules
.env.local
/.next
/.next
/.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/app/(dashboard)/calendar/page.js
.next/server/app/(dashboard)/calendar/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/page.js
.next/server/app/(dashboard)/clients/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/profile/page.js
.next/server/app/(dashboard)/clients/profile/page_client-reference-manifest.js
.next/server/app/(dashboard)/page.js
.next/server/app/(dashboard)/page_client-reference-manifest.js
.next/server/app/(dashboard)/team/page.js
.next/server/app/(dashboard)/team/page_client-reference-manifest.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/app/not-found.js
.next/server/app/not-found_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@firebase.js
.next/server/vendor-chunks/@grpc.js
.next/server/vendor-chunks/@protobufjs.js
.next/server/vendor-chunks/@swc.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/firebase.js
.next/server/vendor-chunks/idb.js
.next/server/vendor-chunks/lodash.camelcase.js
.next/server/vendor-chunks/long.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/protobufjs.js
.next/server/vendor-chunks/tslib.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/(dashboard)/calendar/page.js
.next/static/chunks/app/(dashboard)/clients/page.js
.next/static/chunks/app/(dashboard)/clients/profile/page.js
.next/static/chunks/app/(dashboard)/layout.js
.next/static/chunks/app/(dashboard)/page.js
.next/static/chunks/app/(dashboard)/team/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/not-found.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/chunks/webpack.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/webpack/31d8728b070efe8c.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/81fcff27c7d68477.webpack.hot-update.json
.next/static/webpack/8e4e3bbcdbc26083.webpack.hot-update.json
.next/static/webpack/9950a173e8c3bb3a.webpack.hot-update.json
.next/static/webpack/9d4caf256d77c911.webpack.hot-update.json
.next/static/webpack/app/layout.31d8728b070efe8c.hot-update.js
.next/static/webpack/app/layout.c3f4f579b707e6a3.hot-update.js
.next/static/webpack/c3f4f579b707e6a3.webpack.hot-update.json
.next/static/webpack/webpack.31d8728b070efe8c.hot-update.js
.next/static/webpack/webpack.81fcff27c7d68477.hot-update.js
.next/static/webpack/webpack.8e4e3bbcdbc26083.hot-update.js
.next/static/webpack/webpack.9950a173e8c3bb3a.hot-update.js
.next/static/webpack/webpack.9d4caf256d77c911.hot-update.js
.next/static/webpack/webpack.c3f4f579b707e6a3.hot-update.js
.next/trace
.next/types/app/(dashboard)/calendar/page.ts
.next/types/app/(dashboard)/clients/page.ts
.next/types/app/(dashboard)/clients/profile/page.ts
.next/types/app/(dashboard)/layout.ts
.next/types/app/(dashboard)/page.ts
.next/types/app/(dashboard)/team/page.ts
.next/types/app/layout.ts
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/app/(dashboard)/calendar/page.js
.next/server/app/(dashboard)/calendar/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/page.js
.next/server/app/(dashboard)/clients/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/profile/page.js
.next/server/app/(dashboard)/clients/profile/page_client-reference-manifest.js
.next/server/app/(dashboard)/page.js
.next/server/app/(dashboard)/page_client-reference-manifest.js
.next/server/app/(dashboard)/team/page.js
.next/server/app/(dashboard)/team/page_client-reference-manifest.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/middleware-build-manifest.js
.next/server/pages-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@firebase.js
.next/server/vendor-chunks/@grpc.js
.next/server/vendor-chunks/@protobufjs.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/firebase.js
.next/server/vendor-chunks/idb.js
.next/server/vendor-chunks/lodash.camelcase.js
.next/server/vendor-chunks/long.js
.next/server/vendor-chunks/protobufjs.js
.next/server/vendor-chunks/tslib.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/(dashboard)/calendar/page.js
.next/static/chunks/app/(dashboard)/clients/page.js
.next/static/chunks/app/(dashboard)/clients/profile/page.js
.next/static/chunks/app/(dashboard)/layout.js
.next/static/chunks/app/(dashboard)/page.js
.next/static/chunks/app/(dashboard)/team/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/main-app.js
.next/static/chunks/polyfills.js
.next/static/css/app/layout.css
.next/static/development/_buildManifest.js
.next/static/development/_ssgManifest.js
.next/static/webpack/31d8728b070efe8c.webpack.hot-update.json
.next/static/webpack/633457081244afec._.hot-update.json
.next/static/webpack/81fcff27c7d68477.webpack.hot-update.json
.next/static/webpack/8e4e3bbcdbc26083.webpack.hot-update.json
.next/static/webpack/9950a173e8c3bb3a.webpack.hot-update.json
.next/static/webpack/9d4caf256d77c911.webpack.hot-update.json
.next/static/webpack/app/layout.31d8728b070efe8c.hot-update.js
.next/static/webpack/app/layout.c3f4f579b707e6a3.hot-update.js
.next/static/webpack/c3f4f579b707e6a3.webpack.hot-update.json
.next/static/webpack/webpack.31d8728b070efe8c.hot-update.js
.next/static/webpack/webpack.81fcff27c7d68477.hot-update.js
.next/static/webpack/webpack.8e4e3bbcdbc26083.hot-update.js
.next/static/webpack/webpack.9950a173e8c3bb3a.hot-update.js
.next/static/webpack/webpack.9d4caf256d77c911.hot-update.js
.next/static/webpack/webpack.c3f4f579b707e6a3.hot-update.js
.next/trace
.next/types/app/(dashboard)/calendar/page.ts
.next/types/app/(dashboard)/clients/page.ts
.next/types/app/(dashboard)/clients/profile/page.ts
.next/types/app/(dashboard)/layout.ts
.next/types/app/(dashboard)/page.ts
.next/types/app/(dashboard)/team/page.ts
.next/types/app/layout.ts
/.next
.next/app-build-manifest.json
.next/build-manifest.json
.next/cache/.tsbuildinfo
.next/cache/webpack/client-development/0.pack.gz
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/10.pack.gz
.next/cache/webpack/client-development/12.pack.gz
.next/cache/webpack/client-development/13.pack.gz
.next/cache/webpack/client-development/14.pack.gz
.next/cache/webpack/client-development/15.pack.gz
.next/cache/webpack/client-development/16.pack.gz
.next/cache/webpack/client-development/17.pack.gz
.next/cache/webpack/client-development/18.pack.gz
.next/cache/webpack/client-development/19.pack.gz
.next/cache/webpack/client-development/2.pack.gz
.next/cache/webpack/client-development/20.pack.gz
.next/cache/webpack/client-development/3.pack.gz
.next/cache/webpack/client-development/4.pack.gz
.next/cache/webpack/client-development/5.pack.gz
.next/cache/webpack/client-development/6.pack.gz
.next/cache/webpack/client-development/7.pack.gz
.next/cache/webpack/client-development/8.pack.gz
.next/cache/webpack/client-development/9.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/client-production/0.pack
.next/cache/webpack/client-production/1.pack
.next/cache/webpack/client-production/10.pack
.next/cache/webpack/client-production/2.pack
.next/cache/webpack/client-production/3.pack
.next/cache/webpack/client-production/4.pack
.next/cache/webpack/client-production/5.pack
.next/cache/webpack/client-production/6.pack
.next/cache/webpack/client-production/7.pack
.next/cache/webpack/client-production/8.pack
.next/cache/webpack/client-production/9.pack
.next/cache/webpack/client-production/index.pack
.next/cache/webpack/client-production/index.pack.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/10.pack.gz
.next/cache/webpack/server-development/11.pack.gz
.next/cache/webpack/server-development/12.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/3.pack.gz
.next/cache/webpack/server-development/4.pack.gz
.next/cache/webpack/server-development/5.pack.gz
.next/cache/webpack/server-development/6.pack.gz
.next/cache/webpack/server-development/7.pack.gz
.next/cache/webpack/server-development/8.pack.gz
.next/cache/webpack/server-development/9.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/cache/webpack/server-production/0.pack
.next/cache/webpack/server-production/1.pack
.next/cache/webpack/server-production/2.pack
.next/cache/webpack/server-production/3.pack
.next/cache/webpack/server-production/5.pack
.next/cache/webpack/server-production/6.pack
.next/cache/webpack/server-production/7.pack
.next/cache/webpack/server-production/8.pack
.next/cache/webpack/server-production/index.pack
.next/cache/webpack/server-production/index.pack.old
.next/server/app-paths-manifest.json
.next/server/app/(dashboard)/calendar/page.js
.next/server/app/(dashboard)/calendar/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/page.js
.next/server/app/(dashboard)/clients/page_client-reference-manifest.js
.next/server/app/(dashboard)/clients/profile/page.js
.next/server/app/(dashboard)/clients/profile/page_client-reference-manifest.js
.next/server/app/(dashboard)/page.js
.next/server/app/(dashboard)/page_client-reference-manifest.js
.next/server/app/(dashboard)/team/page.js
.next/server/app/(dashboard)/team/page_client-reference-manifest.js
.next/server/app/_not-found_client-reference-manifest.js
.next/server/middleware-react-loadable-manifest.js
.next/server/next-font-manifest.js
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/vendor-chunks/@firebase.js
.next/server/vendor-chunks/@grpc.js
.next/server/vendor-chunks/@protobufjs.js
.next/server/vendor-chunks/clsx.js
.next/server/vendor-chunks/firebase.js
.next/server/vendor-chunks/idb.js
.next/server/vendor-chunks/lodash.camelcase.js
.next/server/vendor-chunks/long.js
.next/server/vendor-chunks/protobufjs.js
.next/server/vendor-chunks/tslib.js
.next/server/webpack-runtime.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/app/(dashboard)/calendar/page.js
.next/static/chunks/app/(dashboard)/clients/page.js
.next/static/chunks/app/(dashboard)/clients/profile/page.js
.next/static/chunks/app/(dashboard)/layout.js
.next/static/chunks/app/(dashboard)/page.js
.next/static/chunks/app/(dashboard)/team/page.js
.next/static/chunks/app/layout.js
.next/static/chunks/main-app.js
.next/static/css/app/layout.css
.next/static/webpack/31d8728b070efe8c.webpack.hot-update.json
.next/static/webpack/81fcff27c7d68477.webpack.hot-update.json
.next/static/webpack/8e4e3bbcdbc26083.webpack.hot-update.json
.next/static/webpack/9950a173e8c3bb3a.webpack.hot-update.json
.next/static/webpack/9d4caf256d77c911.webpack.hot-update.json
.next/static/webpack/app/layout.31d8728b070efe8c.hot-update.js
.next/static/webpack/app/layout.c3f4f579b707e6a3.hot-update.js
.next/static/webpack/c3f4f579b707e6a3.webpack.hot-update.json
.next/static/webpack/webpack.31d8728b070efe8c.hot-update.js
.next/static/webpack/webpack.81fcff27c7d68477.hot-update.js
.next/static/webpack/webpack.8e4e3bbcdbc26083.hot-update.js
.next/static/webpack/webpack.9950a173e8c3bb3a.hot-update.js
.next/static/webpack/webpack.9d4caf256d77c911.hot-update.js
.next/static/webpack/webpack.c3f4f579b707e6a3.hot-update.js
.next/trace
.next/types/app/(dashboard)/calendar/page.ts
.next/types/app/(dashboard)/clients/page.ts
.next/types/app/(dashboard)/clients/profile/page.ts
.next/types/app/(dashboard)/layout.ts
.next/types/app/(dashboard)/page.ts
.next/types/app/(dashboard)/team/page.ts
.next/types/app/layout.ts
/.next
