<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /v2/

# If the request matches a file or directory that exists, serve it directly
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Otherwise, redirect all other requests to the index.html (SPA routing)
RewriteRule ^ index.html [L]
</IfModule>